.box {
    width: 500px;
    height: 181px;
    /* font-weight: 10px; */
  }
  .span{
    font-weight: 10px;
  }
  .border {
    padding: 10px;
    margin: 10px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }
  .txt-field {
    border-radius: 10px;
    padding: 5px;
    /* margin: 8px; */
    background-color: rgba(245, 236, 236, 0.459);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }
  .bt {
    background-color: rgba(8, 8, 8, 0.673);
    border: rgba(8, 8, 8, 0.673);
  }
  /* .btn:hover {
    background-color: rgba(142, 39, 227, 0.771);
  } */
  .bt1 {
    background-color: black;
    border: black;
  }
  .bt2 {
    margin: 9px;
    background-color: black;
    border: black;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }
  .bt2:hover {
    background-color: rgba(142, 39, 227, 0.771);
  }

  /* button{
    width: 25%;
  } */
  /* .ok{
    width:33vw ;
    
  } */